/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/

body, .nav-bar, #dark-mode-button, svg.logo, .nav-buttons, hr {
  background: #b3aac1 ;}

/*-- DARK COLOUR - TEXT --*/

.box-episode:hover, a, .nav-buttons:hover, .box-episode, .footer {
  color: #b3aac1 ;}

/* ILLUSTRATIONS - FILL */
.st0{
  fill: #b3aac1 ;}

.st0-share{fill:#b3aac1;}
.st2-share{fill:#b3aac1;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
h1, .nav-bar, .nav-buttons, .listen a, .box-outline, .box-credits {
  color: #ffd5dd ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.box-episode, .nav-buttons:hover, .box-outline hr {
  background-color: #ffd5dd ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .box-outline, .box-credits, .nav-buttons {
  border:2px solid #ffd5dd ;}

.nav-bar {
  border-color:#ffd5dd ;}

.st1-share, .spotify, .apple, .instagram{fill:#ffd5dd;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR - BACKGROUNDS --*/

.box-episode:hover, .footer  {
  background-color: white ;}

/* ILLUSTRATIONS - STROKE */
.logo-letters, .st1 {
  fill: white ;}

.box-outline a, .box-credits a, .box-credits a:hover, .box-outline a:hover {
  color: white ;}

/*------------------------- BUTTON IN DAY VERSION ONLY -------------------------*/

/*-- NIGHT BUTTON --*/

#dark-mode-button {
  color:#36333c;
  border:2px solid #36333c;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_moon_icon.svg');
}

#dark-mode-button:hover {
  box-shadow: 0px 0px 20px #332f3a;
}

#light-mode-button {
  display:none;
}