/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/

body, .nav-bar, svg.logo, .nav-buttons, .rule {
  background: #b3aac1 ;}

/*-- DARK COLOUR - TEXT --*/

.box-intro, .box-episode:hover, a, .nav-buttons:hover, .box-episode, .footer {
  color: #b3aac1 ;}

/* ILLUSTRATIONS - FILL */
.st0{
  fill: #b3aac1 ;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
h1, .nav-bar, .nav-buttons, .listen a, .box-cta, .box-credits, .box-credits h1, .box-credits a {
  color: #ffd5dd ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.box-episode, .nav-buttons:hover, .footer {
  background-color: #ffd5dd ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .box-cta, .box-credits, .nav-buttons {
  border:2px solid #ffd5dd ;}

.nav-bar {
  border-color:#ffd5dd ;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR --*/

.box-intro, .box-episode:hover {
  background-color: white ;}

/* ILLUSTRATIONS - STROKE */
.st1{
  fill: white ;}

.box-credits a:hover {
  color: white ;}

.logo-letters {
  fill: white ;}

/*------------------------- BUTTONS IN DAY VERSION ONLY -------------------------*/

/*-- NIGHT BUTTON --*/

#dark-mode-button {
  font-weight:700;
  text-align:center;
  font-size:12px;
  letter-spacing:.2pt;
  background: transparent;
  color:#36333c;
  border:2px solid #36333c;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_moon_icon.svg');
  background-size:10px 10px;
  background-repeat:no-repeat;
  background-position:90% 50%;
  border-radius:50px;
  transition: .2s ease-in-out;
  display:initial;
}

#dark-mode-button:hover {
  box-shadow: 0px 0px 20px #332f3a;
}

#light-mode-button {
  display:none;
}