
/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/

body, .nav-bar, .logo, .buttons, .ruler, .footer {
  background: #332f3a ;}

/*-- DARK COLOUR - TEXT --*/

.intro-box p, .intro-box h1, .episode-box:hover, a, .buttons:hover, .episode-box {
  color: #332f3a ;}

/* ILLUSTRATIONS - FILL */
.st0{fill: #332f3a ;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
.header, .footer, .nav-bar, .buttons, .listen a, .cta-box p, .cta-box-hidden p, .credits-box, .credits-box h1, .credits-box a {
  color: #6e6878 ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.episode-box, .buttons:hover {
  background-color: #6e6878 ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .cta-box, .cta-box-hidden, .credits-box, .buttons {
    border:2px solid #6e6878 ;}

/*-- LIGHT COLOUR - BORDERS --*/
.footer {
    border-top:2px solid #6e6878 ;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR --*/

.intro-box, .episode-box:hover {
  background-color: #c1bacb ;}

/* ILLUSTRATIONS - STROKE */
.st1{fill: #c1bacb ;}

.credits-box a:hover {
  color: #c1bacb ;
}

/*------------------------- BUTTONS IN NIGHT VERSION ONLY -------------------------*/

/*-- DAY BUTTON --*/

#light-mode-button:hover {
  box-shadow: 0px 0px 30px #ee8967;
}

#light-mode-button {
  background: transparent;
  color:#ee8967;
  border:2px solid #ee8967;
  display:initial;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_sun_icon.svg');
  background-size:10px 10px;
  background-repeat:no-repeat;
  background-position:90% 50%;
  font-weight:700;
  text-align:center;
  font-size:12px;
  letter-spacing:.2pt;
  border-radius:50px;
  transition: .2s ease-in-out;
}

#dark-mode-button {
  display:none;
}

img.link-out {
  filter:saturate(0%) brightness(30%);
}