/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/
body, .nav-bar, #light-mode-button, svg.logo, .nav-buttons, hr {
  background: #332f3a ;}

/*-- DARK COLOUR - TEXT --*/
.box-episode:hover, a, .nav-buttons:hover, .box-episode, .footer {
  color: #332f3a ;}

/* ILLUSTRATIONS - FILL */
.st0, .st0-share, .st2-share {fill:#332f3a;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
h1, .nav-bar, .nav-buttons, .listen a, .box-outline, .box-credits {
  color: #6e6878 ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.box-episode, .nav-buttons:hover, .box-outline hr {
  background-color: #6e6878 ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .box-outline, .box-credits, .nav-buttons {
  border:2px solid #6e6878 ;}

.nav-bar {
  border-color: #6e6878 ;}

.spotify, .apple, .instagram, .st1-share{fill: #6e6878 ;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR - BACKGROUNDS --*/

.box-episode:hover {
  background-color: #ffa4c0 ;}

/* ILLUSTRATIONS - STROKE */
.logo-letters, .st1 {
  fill: #ffa4c0 ;}

.box-outline a, .box-credits a, #light-mode-button {
  color: #ffa4c0 ;}

.box-outline a:hover, .box-credits a:hover {
  color:white;
}

/*------------------------- BUTTON IN NIGHT VERSION ONLY -------------------------*/

/*-- DAY BUTTON --*/

#light-mode-button {
  border:2px solid #ffa4c0;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_sun_icon.svg');
}

#light-mode-button:hover {
  box-shadow: 0px 0px 20px #ffa4c0;
}

#dark-mode-button {
  display:none;
}

svg.linkout {
  width:10px;
  padding-bottom:5px;
  filter:saturate(0%) brightness(30%);
}