/*-- COLOURS --*/

/*-- BEIGE BACKGROUND COLOUR --*/

body, .logo, .buttons {
  background: #bf8776;
}

/*-- NIGHT BUTTON --*/

#dark-mode-button {
  background: #bf8776;
  color:#36333c;
  border:2px solid #36333c;
  display:initial;
  padding-right:28px;
  background-image:url('icon-moon.png');
  background-size:10px;
  background-repeat:no-repeat;
  background-position:90% 50%;
  font-weight:700;
  text-align:center;
  font-size:12px;
  letter-spacing:.2pt;
  border-radius:50px;
  transition: .2s ease-in-out;
}

#light-mode-button {
  display:none;
}

/*-- BEIGE TEXT --*/
a, .listen a:hover, .intro-box p, .intro-box h1, .episode-box, .episode-box:hover, .footer {
  color:#bf8776;
}

/*-- LIGHT COLOUR - TEXT --*/
.header, .nav-bar, .buttons, .listen a, .cta-box p, .cta-box-hidden p, .credits-box, .credits-box h1, .credits-box a {
  color:#dbd6c9;
}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.episode-box, .listen a:hover {
  background-color:#dbd6c9;
}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .cta-box, .cta-box-hidden, .credits-box, .buttons {
    border:2px solid #dbd6c9;
}

/*-- BRIGHTEST ACCENT COLOUR --*/

.intro-box, .episode-box:hover {
  background-color:#f1ede3;
}

.credits-box a:hover {
  color:#f1ede3;
}

/*-- FOOTER COLOUR --*/

.footer {
  background-color:#8c5a4b;
}