/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/

body, .nav-bar, svg.logo, .nav-buttons, hr {
  background: #332f3a ;}

/*-- DARK COLOUR - TEXT --*/

.box-intro, .box-episode:hover, a, .nav-buttons:hover, .box-episode, .footer {
  color: #332f3a ;}

/* ILLUSTRATIONS - FILL */
.st0{
  fill: #332f3a ;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
h1, .nav-bar, .nav-buttons, .listen a, .box-cta, .box-outline, .box-outline a {
  color: #6e6878 ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.box-episode, .nav-buttons:hover, .footer {
  background-color: #6e6878 ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .box-cta, .box-outline, .nav-buttons {
  border:2px solid #6e6878 ;}

.nav-bar {
  border-color:#6e6878 ;}

.logo-letters-in-card {
  fill: #6e6878 ;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR --*/

.box-intro, .box-episode:hover {
  background-color: #ffd5dd ;}

/* ILLUSTRATIONS - STROKE */
.st1{
  fill: #ffd5dd ;}

.box-outline a:hover {
  color: #ffd5dd ;}

.logo-letters {
  fill: #ffd5dd ;}

/*------------------------- BUTTONS IN DAY VERSION ONLY -------------------------*/

/*-- DAY BUTTON --*/

#light-mode-button {
  font-weight:700;
  text-align:center;
  font-size:12px;
  letter-spacing:.2pt;
  background: transparent;
  color:#ffd5dd;
  border:2px solid #ffd5dd;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_sun_icon.svg');
  background-size:10px 10px;
  background-repeat:no-repeat;
  background-position:90% 50%;
  border-radius:50px;
  transition: .2s ease-in-out;
  display:initial;
}

#light-mode-button:hover {
  box-shadow: 0px 0px 20px #ffd5dd;
}

#dark-mode-button {
  display:none;
}

svg.linkout {
  width:10px;
  padding-bottom:5px;
  filter:saturate(0%) brightness(30%);
}