
/*------------------------------- DARK COLOUR -------------------------------*/

/*-- DARK COLOUR - BACKGROUND --*/

body, .nav-bar, .logo, .buttons, .ruler {
  background: #ee8967 ;}

/*-- DARK COLOUR - TEXT --*/

.intro-box p, .intro-box h1, .episode-box:hover, a, .buttons:hover, .episode-box, .footer {
  color: #ee8967 ;}

/* ILLUSTRATIONS - FILL */
.st0{fill: #ee8967 ;}

/*------------------------------- LIGHT COLOUR -------------------------------*/

/*-- LIGHT COLOUR - TEXT --*/
.header, .nav-bar, .buttons, .listen a, .cta-box p, .cta-box-hidden p, .credits-box, .credits-box h1, .credits-box a {
  color: #ffd6d6 ;}

/*-- LIGHT COLOUR - BACKGROUNDS --*/
.episode-box, .buttons:hover, .footer {
  background-color: #ffd6d6 ;}

/*-- LIGHT COLOUR - BORDERS --*/
.listen a, .cta-box, .cta-box-hidden, .credits-box, .buttons {
    border:2px solid #ffd6d6 ;}

.nav-bar {
    border-color:#ffd6d6 ;}

/*---------------------------- BRIGHT ACCENT COLOUR ----------------------------*/

/*-- LIGHTEST ACCENT COLOUR --*/

.intro-box, .episode-box:hover {
  background-color: white ;}

/* ILLUSTRATIONS - STROKE */
.st1{fill: white ;}

.credits-box a:hover {
  color: white ;
}

/*------------------------- BUTTONS IN DAY VERSION ONLY -------------------------*/

/*-- NIGHT BUTTON --*/

#dark-mode-button {
  font-weight:700;
  text-align:center;
  font-size:12px;
  letter-spacing:.2pt;
  background: transparent;
  color:#36333c;
  border:2px solid #36333c;
  background-image:url('https://sleeps-podcast.github.io/images/svg/sleeps_moon_icon.svg');
  background-size:10px 10px;
  background-repeat:no-repeat;
  background-position:90% 50%;
  border-radius:50px;
  transition: .2s ease-in-out;
  display:initial;
}

#dark-mode-button:hover {
  box-shadow: inset 0px 0px 20px #332f3a;
}

#light-mode-button {
  display:none;
}