@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', 'Avenir', Helvetica Neue, sans-serif;
  background-color:#101721;
  background-size:100px 100px;
  background-attachment:fixed;
  background-repeat:repeat;
  overflow-x:hidden;
  letter-spacing:-.1pt;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
}

.logo {
  width:14vw;
  height:14vw;
  position:fixed;
  top:2vw;
  right:2vw;
  z-index:999999;
}

img.logo {
  padding:3vw;
  margin:0;
  transition: .3s ease-in-out;
}

img.logo:hover {
  transform:rotate(-75deg);
}

/*-- EPISODE TITLE --*/

h3 {
  color:#b7c4d1;
  font-weight:400;
  font-size:3.4em;
  padding:2.5vw 0 0 0;
  margin:0;
  line-height:1;
  width:60%;
}

/*-- EPISODE AUTHOR --*/

h4 {
  color:black;
  font-family:'PT Serif';
  font-weight:400;
  font-size:2em;
  padding:0;
  margin:.2em 0 .8em;
}

/*-- PERFORMED BY --*/

h5 {
  color:black;
  font-weight:400;
  font-size:.8em;
  letter-spacing:.2pt;
  padding:1vw 0 0 0;
}

/*-- EPISODE DESCRIPTION --*/

h2 {
  color:black;
  padding:0 0 1em;
  font-size:1.1em;
  line-height:1.4;
  font-weight:400;
  width:30%;
}

/*-- BACK BUTTON --*/

h6 a {
  color:#0f2e4c;
  text-align:center;
  font-weight:bold;
  font-size:12px;
  letter-spacing:.2pt;
  padding:10px 20px;
  background-color:black;
  border-radius:50px;
  transition: .2s ease-in-out;
}

h6 a:hover {
  color:#0f2e4c;
  background-color:#b7c4d1;
}

/*-- EPISODES --*/

.episode {
  width:100%;
  height:100%;
  background-position: bottom right;
  background-size:45%;
  background-repeat:no-repeat;
  margin:0;
  padding:4vw 0 8vw 8vw;
}

/*-- SCROLLBAR --*/

/* width */
::-webkit-scrollbar {
  width: 0;
}

/*-- SHARE BUTTONS --*/

.share {
  position:fixed;
  bottom:5vw;
  left:7.5vw;
  z-index:999999;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin:3vw 0 0;
}

ul.share-buttons img {
  width:30px;
  margin-right:5px;
  transition: .1s ease-in-out;
  opacity:.5;
}

ul.share-buttons img:hover {
  opacity:1;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* ----------- MOBILE LAYOUT - 1 COLUMNS ----------- */

@media screen and (max-width: 1000px) {

}
