/* ----------- MOBILE LAYOUT - 1 COLUMNS ----------- */

@media screen and (max-width: 640px) {

  .disappear, .show {
    display:none;
  }

.logo {
  height:80px;
  width:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:999999;
  background-color:transparent;
  border-radius:50%;
}

img.logo {
  padding:20px;
}

/*-- LISTEN BUTTONS --*/

.bar {
  height:75px;
  position:fixed;
  background-color:black;
  width:100%;
}

.listen {
  padding:5.8vw;
  width:100%;
}

.listen a {
  float:right;
  font-weight:700;
  text-align:center;
  font-size:14px;
  letter-spacing:.2pt;
  padding:0;
  margin-left:20px;
  border-radius:0;
  border:0;
  transition: .2s ease-in-out;
}

.listen a:hover {
	background-color:transparent;
	color:white;
}

.header {
  font-size:8.5vw;
  padding:40vw 0 20vw;
}

/*-- INTRO BOX --*/

.intro-box {
  padding-top:7vw;
  padding-bottom:7vw;
}

.intro-box p {
  font-size:20px;
}

.intro-box h1 {
  font-size:16px;
}



/*-- EPISODE BOXES CONTAINER --*/

.episodes {
  border-spacing: 0px 10px;
  padding:0 4vw 6vw;
}

/*-- EPISODE BOX --*/

.episode-box {
  display: table-cell;
  padding:7vw;
  margin:0;
  height:350px;
  color:rgba(0,0,0,1);
  background-color:#a65e6a;
  background-position: bottom right;
  background-size:190px;
  background-repeat:no-repeat;
  border:2px solid transparent;
}

.episode-box:hover {
  cursor:auto;
  display: table-cell;
  height:400px;
  padding:7vw;
  margin:0;
  height:350px;
  background-color:#a65e6a;
  background-position: bottom right;
  background-size:190px;
  background-repeat:no-repeat;
  border:2px solid transparent;
}

/*-- EPISODE TITLE --*/

.episode-box h1 {
  font-size:28px;
}

/*-- EPISODE AUTHOR --*/

.episode-box h2 {
  font-size:22px;
}

/*-- JOB TITLE --*/

.episode-box h3 {
  font-size:13px;
}

.cta-box p {
  font-size:28px;
}

/*-- CREDITS BOX --*/

.credits-box {
  padding-top:5vw;
  padding-bottom:5vw;
}

.credits-box a, .category {
  font-size:15px;}

.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.episode-box h1 {
  font-size:9vw;
}

}