
/* ----------- MIDDLE LAYOUT - 2 COLUMNS ----------- */

@media screen and (max-width: 900px) {

.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

/*-- PAGE_HEADER --*/

h1 {
  font-size:5vw;
}

/*-- EPISODE_TITLES --*/

h2 {
  font-size:4vw;
}

/*-- AUTHOR_TITLES --*/

h3 {
  font-size:2.5vw;
}

/*-- UPPERCASE_TITLES --*/

h4 {
  font-size:1.3vw;
}

/*-- INTRO_BOX_TITLE --*/

.box-outline h3 {
  font-size:1.4vw;
  line-height:1.6vw;
}

/*-- INTRO_BOX_TEXT --*/

.box-outline h3 {
  font-size:2vw;
  line-height:2.5vw;
}

/*-- BOXES --*/

.box-episode, .box-outline, .box-credits {
  height:400px;
  padding:4vw;
}

/*-- ILLUSTRATIONS --*/

svg.illustrations {
  width:20vw;
}

/*-- SHARE_BUTTONS --*/

svg.share-buttons {
  opacity:1;
}

}















/* ----------- MOBILE LAYOUT - 1 COLUMN ----------- */

@media screen and (max-width: 505px) {

.desktop-only {display:none;}
.mobile-only {display:initial;}

.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

/*-- NAV_BAR --*/

.nav-bar {
  height:60px;
  position:fixed;
  top:0;
  background-color:#bf8776;
  width:100%;
  z-index:99999999;
  text-align:center;
  padding:2.1vw;
  border-bottom:2px solid;
}

.nav-buttons {
  width:88px;
}

/*-- LOGO --*/

svg.logo-mobile {
  height:170px;
  position:relative;
  top:initial;
  left:initial;
  display: block;
  margin: 20vw auto 0;
}

/*-- PAGE_HEADER --*/

h1 {
  font-size:8vw;
}

/*-- EPISODE_TITLES --*/

h2 {
  font-size:8vw;
}

/*-- AUTHOR_TITLES --*/

h3 {
  font-size:5vw;
  padding:2vw 0;
}

/*-- UPPERCASE_TITLES --*/

h4 {
  font-size:12px;
  margin:0;
}

/*-- IMAGES --*/

svg.illustrations {
  width:38vw;
  padding:0 3vw 3vw 0;
}

/*-- BOXES CONTAINER --*/

.boxes-container {
  border-spacing: 1.5vw;
  margin:0 0 6vw;
  padding:0 1.5vw;
}

/*-- BOXES --*/

.box-episode, .box-outline {
  height:320px;
  padding:8vw;
  border:0;
}

/*-- MOBILE_ONLY_BOXES --*/

.box-mobile {
  font-size:14px;
  text-align:center;
  padding:0 6vw 10vw;  
  margin:0;
  position:relative;
  transition: .2s ease-in-out;
}

/*-- INTRO_BOX_TEXT --*/

.box-outline h3, .box-outline a {
  font-size:16px;
  line-height:1.3;
}

/*-- CREDITS_BOX_TEXT --*/

.box-mobile h4{
  font-size:3vw;
}

.box-mobile h5 {
  font-size:4vw;
  margin:10px 0;
}

/*-- REMOVE_HOVER_EFFECTS --*/

#light-mode-button:hover, #dark-mode-button:hover {
  box-shadow: none;
}

/*-- SHARE_BUTTONS --*/

svg.share-buttons {
  width:10vw;
}

}