/* ----------- MOBILE LAYOUT - 1 COLUMNS ----------- */

@media screen and (max-width: 640px) {

.cta-box, .disappear {display:none;}

.mobile-only {display:initial;}

.ruler {
  height:2px;
  border-width:0;
  margin:6vw 0;
  opacity:.5;
}

.logo-mobile {
  height:120px;
  width:auto;
  position:relative;
  top:initial;
  left:initial;
  z-index:initial;
  text-align:center;
  margin:15vw 0 0;
}

img.logo-mobile {
  padding:0;
  background-color:transparent;
  z-index:initial;
}

/*-- BUTTONS --*/

.nav-bar {
  height:68px;
  position:fixed;
  top:0;
  background-color:#bf8776;
  width:100%;
  z-index:99999999;
  text-align:center;
  padding:3.5vw;
  border-bottom:2px solid;
}

.buttons {
  padding:8px 0;
  display:inline-block;
  margin:0 5px 0;
}

.header {
  font-size:12vw;
  padding:28vw 0 10vw;
}

/*-- INTRO BOX --*/

.intro-box {
  height:350px;
  padding:7vw;
}

.intro-box p {
  font-size:18px;
}

.intro-box h1 {
  font-size:14px;
}

/*-- EPISODE BOXES CONTAINER --*/

.episodes {
  border-spacing: 0px 10px;
  padding:0 4vw 6vw;
}

/*-- EPISODE BOX --*/

.episode-box {
  display: table-cell;
  padding:7vw;
  margin:0;
  height:350px;
  color:rgba(0,0,0,1);
  background-color:#a65e6a;
  border:2px solid transparent;
}

.episode-box:hover {
  cursor:auto;
  display: table-cell;
  height:400px;
  padding:7vw;
  margin:0;
  height:350px;
  background-color:#a65e6a;
  border:2px solid transparent;
}

/*-- EPISODE TITLE --*/

.episode-box h1 {
  font-size:28px;
}

/*-- EPISODE AUTHOR --*/

.episode-box h2 {
  font-size:22px;
}

/*-- JOB TITLE --*/

.episode-box h3 {
  font-size:11px;
}

/*-- CREDITS BOX --*/

.credits-box {
  padding-top:7vw;
  padding-bottom:7vw;
  line-height:1.3;
}

.credits-box h1 {
  font-size:9px;
}

.credits-list {
  line-height:1.2;
}

.credits-list a {
  font-size:20px;
}

.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.episode-box h1 {
  font-size:9vw;
}

/*-- FOOTER --*/

.footer {
  font-size:3vw;
  height:45px;
}

}