@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size:40%;
  background-attachment:fixed;
  background-repeat:repeat;
  font-family: 'DM Sans', 'Avenir', Helvetica Neue, sans-serif;
  letter-spacing:0.008em;
  margin:0;
  padding:0;
  overflow-x:hidden;
  color:white;
  letter-spacing:-.2pt;
}

a {
  text-decoration:none;
}

.logo {
  width:140px;
  height:140px;
  position:fixed;
  top:2em;
  right:5.5em;
  z-index:999999;
}

img.logo {
  padding:20px;
  margin:0;
  transition: .6s ease-in-out;
}

img.logo:hover {
  transform:rotate(-75deg);
    text-decoration:none;
}

/*-- INTRO --*/

h1 {
  color:#617bff;
  text-align:center;
  font-weight:400;
  font-size:2.5em;
  line-height:1.2;
  width:100%;
  padding:2em 20vw 0;
}

/*-- EPISODE TITLE --*/

h3 {
  font-weight:400;
  font-size:2.4em;
  font-weight:bold;
  padding:0 30px 0;
  margin:0;
  line-height:1;
}

/*-- EPISODE AUTHOR --*/

h4 {
  font-weight:400;
  font-size:2em;
  padding:15 30px 0;
  margin:0;
}

/*-- PERFORMED BY --*/

h5 {
  bottom:0;
  left:0;
  font-weight:400;
  font-size:.8em;
  letter-spacing:.2pt;
  padding:0 30px 35px;
  margin:1em 0 0;
  line-height:1.7;
  color:#5c6bb1;
}

/*-- AUDIO --*/

.play {
  background-color:black;
  border-radius:25px;
  width:0;
  padding:0;
  margin:0 0 0 30px;
}

/*-- EPISODES --*/

.episodes {
  margin:0;
  z-index:99999;
}

.intro {
  padding:0 11em 0;
  margin:0;
  width:100%;
}

.intro h1 {
  font-size:4.5vw;
  font-weight:bold;
  letter-spacing:.2pt;
  color:#34d070;
  margin:3em 0 0;
  padding:0;
}

.special-box {
  z-index:99999;
  background-color:#e5e5ec;
  width:auto;
  min-height:500px;
  max-height:500px;
  border-radius:0;
  color:#00025d;
  font-weight:400;
  font-size:.8em;
  letter-spacing:.15pt;
  line-height:1.5;
  margin:30px 15px;
  padding:30px;
  overflow:auto;
  background-position: top right;
  background-size:10%;
  background-repeat:no-repeat;
}

.special-box h1 {
  color:#00025d;
  font-weight:500;
  font-size:1.6em;
  line-height:1.3;
  margin:0;
  padding:0;
  text-align:left;
}

.special-box h2 {
  color:#00025d;
  font-weight:700;
  font-size:1em;
  line-height:1.3;
  margin:0 0 1em;
  padding:0;
  text-align:left;
}

.special-box a {
  color:#00025d;
  font-weight:bold;
  transition: .3s ease-in-out;
  border-bottom:2.5px solid transparent;
}

.special-box a:hover {
  color:black;
  border-bottom:2.5px solid black;
}


.episode-box {
  z-index:99999;
  background-color:#00025d;
  width:auto;
  height:500px;
  border-radius:20px;
  color:#617bff;
  padding:0;
  margin:30px 15px;
  background-position: bottom right;
  background-size:60%;
  background-repeat:no-repeat;
  transition: .1s ease-in-out;
}

.episode-box:hover {
  color:#a0b1ff;
  background-size:65%;
}

.episode-box h6 {
  padding:50% 4vw 0;
  font-weight:400;
  font-size:16px;
  text-align:center;
}

ul.box {
  list-style-type: none;
  margin:0;
  padding:3em 0 0;
  display:inherit;
  float:middle;
}

/*-- FOOTER --*/

.footer {
  color:#617bff;
  background-color:#00025d;
  bottom:0;
  height:auto;
  margin:0;
  padding: 2em 5em;
}

/*-- FOOTER LINKS --*/

.footer a {
  font-size:1.1em;
  font-weight:bold;
  background-color:#617bff;
  color:#00025d;
  border-radius:100px;
  padding:10px 20px;
  margin:0 0 0 7px;
  transition: .2s ease-in-out;
  width:50px;
}

.footer a:hover {
  background-color:#34d070;
}

ul.footer {
  list-style-type: none;
  margin:0;
  padding:0;
  float:right;
}

.footer li {
  float:right;
  display:inline;
  padding:1em .2em;
}

.credit-category {
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:.7em;
  color:#617bff;
}

table.credits {
  font-size:.9em;
  text-align:left;
  line-height:1.7;
  border-collapse:collapse;
  padding:0;
  margin:0;
}

td, th {
  vertical-align: top;
  margin:0;
  padding:1em 0;
  border-bottom:1px solid #617bff;
}

/*-- SCROLLBAR --*/

/* width */
::-webkit-scrollbar {
  width: 0;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4em;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 640px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 640px) {
.row {
  padding: 1em;
}
}