@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');

* {
  box-sizing: border-box;
}

/*-- UNIVERSAL - STYLE --*/

body {
  background-color: black;
  font-family: 'DM Sans', 'Avenir', Helvetica Neue, sans-serif;
  letter-spacing:0.01em;
  overflow-x:hidden;
  margin:0;
  padding:0;
}

/*-- UNIVERSAL - LINKS --*/

a {
  text-decoration:none;
}

/*-- LOGO --*/

.logo {
  width:14vw;
  height:14vw;
  position:fixed;
  top:3vw;
  right:3vw;
  z-index:999999;
}

img.logo {
  padding:3vw;
  margin:0;
  transition: .3s ease-in-out;
}

img.logo:hover {
  transform:rotate(-75deg);
}

/*-- HEADER --*/

.header {
  color:#34d070;
  font-size:4.5vw;
  font-weight:700;
  padding:5vw 0 3vw 7vw;
  margin:0;
}

/*-- INTRO BOX --*/

.intro-box {
  background-color:#e5e5ec;
  width:auto;
  overflow:hidden;
  height:500px;
  margin:30px 15px;
  padding:30px;
  background-position: top right;
  background-size:8%;
  background-repeat:no-repeat;
}

.intro-box p {
  color:#00025d;
  font-weight:400;
  font-size:18px;
  line-height:1.5;
}

.intro-box h1 {
  color:#00025d;
  font-weight:700;
  font-size:12px;
  text-align:left;
  line-height:1.3;
  margin:0 0 1em;
  padding:0;
}

/*-- INTRO BOX - LINK TO STUDY --*/

.intro-box a {
  color:#00025d;
  font-weight:bold;
  transition: .3s ease-in-out;
  border-bottom:2.5px solid transparent;
}

.intro-box a:hover {
  color:black;
  border-bottom:2.5px solid black;
}

/*-- EPISODE BOXES CONTAINER --*/

.episodes {
  margin:0;
  padding:0 2vw 0;
}

/*-- EPISODE BOX --*/

.episode-box {
  color:#617bff;
  background-color:#00025d;
  width:auto;
  height:500px;
  border-radius:10px;
  border:1px solid black;
  padding:3vw;
  margin:30px 15px;
  background-position: bottom right;
  background-size:60%;
  background-repeat:no-repeat;
  transition: .1s ease-in-out;
  z-index:99999;
}

.episode-box:hover {
  color:#a0b1ff;
  background-size:65%;
  border:1px solid #617bff;
}

/*-- EPISODE TITLE --*/

.episode-box h1 {
  font-weight:400;
  font-size:3.5vw;
  font-weight:bold;
  padding:0;
  margin:0 0 .35em;
  line-height:1;
}

/*-- EPISODE AUTHOR --*/

.episode-box h2 {
  font-weight:400;
  font-size:1.9vw;
  padding:0;
  margin:0 0 1.7em;
}

/*-- PERFORMED BY --*/

.episode-box h3 {
  bottom:0;
  left:0;
  font-weight:400;
  font-size:.8em;
  padding:0;
  margin:0;
}

.episode-box h6 {
  padding:50% 4vw 0;
  font-weight:400;
  font-size:16px;
  text-align:center;
}

ul.box {
  list-style-type: none;
  margin:0;
  padding:3em 0 0;
  display:inherit;
  float:middle;
}

/*-- FOOTER --*/

.footer {
  color:#617bff;
  background-color:#00025d;
  bottom:0;
  height:auto;
  margin:0;
  padding: 2em 5em;
}

/*-- FOOTER LINKS --*/

.footer a {
  font-size:1.1em;
  font-weight:bold;
  background-color:#617bff;
  color:#00025d;
  border-radius:100px;
  padding:10px 20px;
  margin:0 0 0 7px;
  transition: .2s ease-in-out;
  width:50px;
}

.footer a:hover {
  background-color:#34d070;
}

ul.footer {
  list-style-type: none;
  margin:0;
  padding:0;
  float:right;
}

.footer li {
  float:right;
  display:inline;
  padding:1em .2em;
}

.credit-category {
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:.7em;
  color:#617bff;
}

table.credits {
  font-size:.9em;
  text-align:left;
  line-height:1.7;
  border-collapse:collapse;
  padding:0;
  margin:0;
}

td, th {
  vertical-align: top;
  margin:0;
  padding:1em 0;
  border-bottom:1px solid #617bff;
}

/*-- SCROLLBAR --*/

/* width */
::-webkit-scrollbar {
  width: 0;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1vw;
}

/* 3 Columns Layout */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0;
}

/* Medium Responsive layout - makes a 2 column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  /*-- EPISODE BOX --*/

.episode-box {
  padding:4vw;
}

.episode-box h1 {
  font-size:5.5vw;
}

}

/* Mobile Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .header {
    font-size:6vw;
    padding:7vw 8vw 0;
  }

  .episode-box {
  padding:7vw;
}

.episode-box h1 {
  font-size:9vw;
}

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 640px) {
.row {
  padding: 1em;
}
}